@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.wrap{
	max-width: 1280px;
	width:100%;
	margin: 0 auto;
	overflow: hidden;
}
nav.desktop,header{
	height:360px;
}
nav{
	float:left;
	width:300px;
	background-color: blanchedalmond;
	
}

nav.desktop ul{
	list-style: none;
}
nav.desktop a{
	display:block;
	line-height:72px;
	font-size:24px;
	color:black;
	text-decoration:none;
	font-family: arial;
	padding:0 5px 0 20px;
	
}
nav.desktop i{
	margin-right:20px;
	width: 50px;
	border-right:solid black 2px;
	transition: .3s;
}
nav.desktop a:hover i{
	margin-right:50px;
	color:orange;
	
}

header{
	float:left;
	width: calc(100% - 300px);
	background-color: aquamarine;
	background-image: url(img/pianino.jpg);
	background-size:cover ;
}

section h1{
	font-size: 40px;
	font-family: arial;
	background-color: #333;
	padding:15px 0;
	text-align:center;
}
section{
	margin-top:50px;
}

nav.mobile {
	display:none;
}
@media (max-width:1024px){
	
	nav.desktop{
	display:none;
}
nav.mobile {
	display:block;
	position:fixed;
	width:72px;
	height:100%;
	background-color: #000;
	color:white;
}
	nav.mobile a{
		line-height:15vh;
		color:white;
		font-size: 35px;
		text-align:center;
		display:block;
	}
	nav.mobile a:hover{
		color:orange;
	}
	nav.mobile li:nth-child(1) a{
		color:darkblue;
		
	}
	header{
		width:100%;
	}
	
}





