@charset "utf-8";
/* CSS Document */

body{
	min-height:200vh;
}

.wrapper{
	margin: 10px 70px;
}

.wrapper p{
	font-size:18px;
	line-height: 200%;
}

.burger{
	position:fixed;
	top:30px;
	right:30px;
	font-size: 50px;
	z-index: 1;
}

i.off{
	display:none;
}

i.fa-angle-up{
	color:white;
}

nav{
	position:fixed;
	left:0;
	right:0;
	top:0;
	height:30vh;
	background-color: #000;
	transition:.2s linear;
}

nav.off{
	top:-300px;
}