@charset "utf-8";
/* CSS Document */

body{
	min-height:150vh;
}

.arrow{
	position: fixed;
	bottom:10%;
	right:5%;
	color:black;
	font-size: 30px;
	transition:.3s;
	cursor:pointer;
}
.wrap{
	margin:0 40px;
}

nav{
	position:fixed;
	left:0;
	right:0;
	bottom:-270px;
	height:300px;
	background-color: black;
	transition: .3s;
}


.arrow.on{
	bottom:310px;
	transform: rotate(180deg);
}

nav.on{
	bottom:0;
}

